extends ../layouts/default.pug

block bodyContent 
    h1.
        #{product.name}
    h1.
        #{product._id}
    h1.
        #{product.description}
    form(action=`/admin/products/${product._id}/destroy` method='POST')
        button.button.is-danger.delete-btn(type="submit").
            Delete Product
            